<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Biography</h2>
                <hr class="light">
                <p class="text-faded">Gulchekhra Inoyatova was raised in the best traditions of the Russian piano school. She is a creative pianist and acquired fame as a gifted interpreter of the music of contemporary composers. Having received an excellent musical education, she graduated from the Central Music School (CMS), the Moscow Tchaikovsky State Conservatory with DMA in Piano Performance and Pedagogy, where her supervisor was a world famous musician, Tatiana Nikolaeva. Inoyatova’s extensive repertoire includes both contemporary music and works of classical composers. Her playing is characterized by deep musicality, wonderful sense of form, bright colorful expression and rich range of sound.</p>
                <a href="#" class="btn btn-default btn-xl">Read More</a>
            </div>
        </div>
    </div>
</section>
